*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    font-family: 'Roboto';

    font-size: 24px;
    line-height: 1;
    color: #333;
    font-weight: bold;
    text-decoration: underline;

    background: #f5f6f7 center;
    background-size: cover;
    width: 100%;

}
.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    align-content: center;
}

.container>h1 {
    margin-top: 180px;
    font-size: 48px;
    margin-bottom: 40px;
}

