.characters {
    display: flex;


}
.container--characters>h1 {
    margin-top: 180px;
    font-size: 48px;
    margin-bottom: 40px;
}

.characters_inner {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;


}

.character_card {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #999;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)
}
.character_name {
    text-align: center;
    padding-top: 25px;

}

.character_image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.character_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (max-width: 1000px) {

    .characters_inner {
        grid-template-columns: repeat(3, 2fr);
    }
}

@media (max-width: 750px) {
    .characters_inner {
        grid-template-columns: repeat(2, 2fr);


    }
}