

.header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #203040;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header_logo {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*Navigation*/

.nav {
    display: flex;
    font-size: 24px;

}
.nav-btn {
    display: none;
}

.nav_link {
    display: block;
    vertical-align: top;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    position: relative;

    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;

    opacity: 0;

    background-color: #4CAF50;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity  .2s linear;

}

.nav_link:hover {
    color: #4CAF50;

}

.nav_link:hover:after, .nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: #4CAF50;

}

.pagination_center {
    padding: 30px 0;
    text-align: center;
}

.pagination {
    display: inline-block;
}
.pagination a {
    text-decoration: none;
    color: #333;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px;

}
.pagination a.active {
    background-color: #4CAF50;
    color: #fff;
}

.pagination a:hover {
    background-color: #4CAF50;
    color: #fff;

}



@media (max-width: 1000px) {
    .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        align-content: center;
    }

    .nav-btn {
        font-size: 42px;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgba(32, 48, 64, 0.73);
        color: white;
        display: block;
        cursor: pointer;
    }

    .nav {
        display: none;
    }

    .nav-btn:hover {
        background-color: rgba(32, 48, 64, 0.73);
    }
    .nav_link {
        margin: 22px 0;
    }

    .drop:hover .nav {
        display: block;
        position: absolute;
        text-align: center;
        right: 1px;
        background-color: #203040;
    }

    .characters_inner {
        grid-template-columns: repeat(3, 2fr);


    }
}
@media (max-width: 750px) {
    .container {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        align-content: center;
    }
    .characters_inner {
        grid-template-columns: repeat(2, 2fr);
    }
}
